/* =========================================================
   CONTENT
========================================================= */

p {
  margin: 0px;
}

#chess-title {
  order: 1;
  margin-bottom: 10px;
}


#chess-board {
  order: 2;
  margin-left: auto;
  margin-right: auto;
}

#board {
  width: 400px;
  float: left;
}

#move-history {
  width: 140px;
  height: 400px;
  float: left;
  margin-left: 10px;
  font-family: galatia;
  font-size: 14px;
}

#move-history-title {
  border-top: 0.5px solid #e8e8e8;
  border-bottom: 0.5px solid #e8e8e8;
  height: 36px;
  width: 100%;
}

#move-history h3 {
  margin: 8px 0px 8px 6px;

}

#scrollable-moves {
  overflow-y: scroll;
  width: 100%;
  height: 360px;
}

.chess-move-pair {
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.pair-light {
  background-color: #F1F1F1;
}

.pair-dark{
  background-color: #BFBEBE;
}

.pair-margins {
  margin-top: 6px;
  margin-left: 6px;
}

.move-num {
  float: left;
}

.move-clickable {
  float: left;
  cursor: pointer;
}

#click-note {
  order: 3;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 12px;
}

@font-face {
font-family: 'galatia';
src: url('../fonts/galsilr-webfont.woff2') format('woff2'),
     url('../fonts/galsilr-webfont.woff') format('woff'),
     url('../galsilr-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@media (max-height: 800px) and (orientation:landscape) {

  #main-window
  {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;

    height: 600px;
    background: white;
    position: relative;
    overflow: auto;

    /*
    border-style: inset;
    border-color: #COCOCO;
    */
    -webkit-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.55);
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.55);
  }

  #main-sub-window
  {
    width: 688px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4px;
    position: relative;

    border-style: solid;
    border-width: 1px;
    border-color: #e8e8e8; /*#919191*/

    height: 588px;
    background: white;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  #board {
    width: 300px;
  }

  #move-history {
    width: 130px;
    height: 300px;
    float: left;
    margin-left: 10px;
  }

  #move-history-title {
    border-top: 0.5px solid #e8e8e8;
    border-bottom: 0.5px solid #e8e8e8;
    height: 36px;
    width: 100%;
  }

  #move-history h3 {
    margin: 8px 0px 8px 6px;
  }

  #scrollable-moves {
    overflow-y: scroll;
    width: 100%;
    height: 260px;
  }

  .chess-move-pair {
    width: 100%;
    height: 22px;
    overflow: hidden;
  }

  .pair-light {
    background-color: #F1F1F1;
  }

  .pair-dark{
    background-color: #BFBEBE;
  }

  .pair-margins {
    margin-top: 3px;
    margin-left: 6px;
  }

}
