/* =========================================================
   CONTENT
========================================================= */

p {
  margin: 0px;
}

#chess-title {
  order: 1;
  margin-bottom: 10px;
}


#chess-board {
  order: 2;
  margin-left: auto;
  margin-right: auto;
}

#board {
  width: 400px;
  float: left;
}

#move-history {
  width: 140px;
  height: 400px;
  float: left;
  margin-left: 10px;
  font-family: galatia;
  font-size: 14px;
}

#move-history-title {
  border-top: 0.5px solid #e8e8e8;
  border-bottom: 0.5px solid #e8e8e8;
  height: 36px;
  width: 100%;
}

#move-history h3 {
  margin: 8px 0px 8px 6px;

}

#scrollable-moves {
  overflow-y: scroll;
  width: 100%;
  height: 360px;
}

.chess-move-pair {
  width: 100%;
  height: 30px;
  overflow: hidden;
}

.pair-light {
  background-color: #F1F1F1;
}

.pair-dark{
  background-color: #BFBEBE;
}

.pair-margins {
  margin-top: 6px;
  margin-left: 6px;
}

.move-num {
  float: left;
}

.move-clickable {
  float: left;
  cursor: pointer;
}

#click-note {
  order: 3;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 12px;
}

@font-face {
font-family: 'galatia';
src: url('../fonts/galsilr-webfont.woff2') format('woff2'),
     url('../fonts/galsilr-webfont.woff') format('woff'),
     url('../galsilr-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@media (max-height: 800px) and (orientation:landscape) {

  #board {
    width: 400px;
  }

  #move-history {
    width: 140px;
    height: 400px;
    float: left;
    margin-left: 10px;
  }

  #move-history-title {
    border-top: 0.5px solid #e8e8e8;
    border-bottom: 0.5px solid #e8e8e8;
    height: 36px;
    width: 100%;
  }

  #move-history h3 {
    margin: 8px 0px 8px 6px;
  }

  #scrollable-moves {
    overflow-y: scroll;
    width: 100%;
    height: 360px;
  }

  .chess-move-pair {
    width: 100%;
    height: 30px;
    overflow: hidden;
  }

  .pair-light {
    background-color: #F1F1F1;
  }

  .pair-dark{
    background-color: #BFBEBE;
  }

  .pair-margins {
    margin-top: 6px;
    margin-left: 6px;
  }

}

@media (max-height: 650px) and (orientation:landscape) {

  #board {
    width: 340px;
  }

  #move-history {
    width: 140px;
    height: 340px;
    float: left;
    margin-left: 10px;
  }

  #move-history-title {
    border-top: 0.5px solid #e8e8e8;
    border-bottom: 0.5px solid #e8e8e8;
    height: 36px;
    width: 100%;
  }

  #move-history h3 {
    margin: 8px 0px 8px 6px;
  }

  #scrollable-moves {
    overflow-y: scroll;
    width: 100%;
    height: 300px;
  }

  .chess-move-pair {
    width: 100%;
    height: 26px;
    overflow: hidden;
  }

  .pair-light {
    background-color: #F1F1F1;
  }

  .pair-dark{
    background-color: #BFBEBE;
  }

  .pair-margins {
    margin-top: 6px;
    margin-left: 6px;
  }

}
