#home-content-top {
  order: 0;
}

#title-bio {
  float: left;
  width: 394px;
  margin-right: 10px;
}

#title-name {
  font-family: 'galatia';
  font-size: 24px;
  line-height: 40px;
  border-bottom: 0.5px solid #e8e8e8;
}

.ajze {
  margin-bottom: 4px;
}

#home-content-bio {
  padding-top: 6px;
}

#headshot {
  float: left;
}

#headshot img {
  height: 192px;
  width: 160px;
}

#blog-link p {
  margin-bottom: 6px;
}

#home-content-interests {
  order: 1;
  border-top: 0.5px solid #e8e8e8;
  padding-top: 6px;
}

#home-content-interests p {
  margin-top: 2px;
  margin-bottom: 10px;
  max-width: inherit;
}

#home-content-skills {
  order: 2;
  margin-top: 0px;
  padding-top: 6px;
}

#home-content-skills ul {
  margin-top: 6px;
  margin-bottom: 10px;
}

#home-content-skills li {
  margin-top: 6px;
  margin-bottom: 6px;
}

#home-content-skills p {
  margin-top: 2px;
  margin-bottom: 10px;
}


@font-face {
font-family: 'galatia';
src: url('../fonts/galsilr-webfont.woff2') format('woff2'),
     url('../fonts/galsilr-webfont.woff') format('woff'),
     url('../galsilr-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@media (max-height: 800px) and (orientation:landscape) {

  #home-content-interests p {
    margin-top: 2px;
  }

  #home-content-skills ul {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  #home-content-skills li {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  #home-content-skills p {
    margin-top: 2px;
    margin-bottom: 6px;
  }
}

@media (max-height: 650px) and (orientation:landscape) {

  #home-content-interests p {
    margin-top: 2px;
    margin-bottom: 6px;
  }
}
