body
{
    background-image: url("../img/flags3.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#main
{
    background-color: white;
    opacity: 0.8;
    height: 600px;
    margin: 16px 0 0 16px;

}